<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        button{
            width: 200px;
            height: 50px;
        }
    </style>
</head>
<body>
<a href="http://192.168.14.252:8520/file/test.pdf" target="_blank">不允许访问test.pdf</a>
<a href="http://192.168.14.252:8520/file1/test.pdf" target="_blank">允许访问test.pdf</a>
<p></p>
<a href="http://192.168.14.252:8520/file/bigger.jpg" target="_blank">不允许访问bigger.jpg</a>
<a href="http://192.168.14.252:8520/file1/bigger.jpg" target="_blank">允许访问bigger.jpg</a>

<h1 style="color: #64B587">人物介绍</h1>
{{#each personInfoList}}
<h2>昵称:{{this.name}}</h2>
<h2>年龄:{{this.age}}</h2>
<hr>
{{/each}}
<button onclick="getFile()">获取文件流</button>
<script>
    function setCookie(name,value)
    {
        console.log('setCookie')
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
    }
    setCookie('token', 'houchaoyu3200');

    function getFile() {
        var xhr = new XMLHttpRequest();
        xhr.open('post', 'http://192.168.14.252:8520/getFileUrl', true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.withCredentials = true;
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log(xhr);
            }
        };
        xhr.onload = function(oEvent) {
            console.log('xhr.response', xhr.response);
            var eleLink = document.createElement('a');
            eleLink.href = JSON.parse(xhr.response).src;
            eleLink.href = 'http://192.168.14.252:8520/file1/bigger.jpg?token=houchaoyu';
            eleLink.target = '_blank';
            document.body.appendChild(eleLink);
            eleLink.click();
            // document.body.removeChild(eleLink);
            // window.open('http://192.168.14.252:8520/file1/bigger.jpg')
        };
        const params = {
            token: 12345
        }
        xhr.send(JSON.stringify(params));
    }
</script>
</body>
</html>
